.yellowBorder:after {
    content: "";
    position: absolute;
    width: 700px;
    height: 65px;
    border: 1px solid #F26C5B;
    border-radius: 25px;
    left: -185px;
    top: -12px;
}

.mainContainer {
    position: absolute;
    width: 1000px;
    height: 460px;
    left: 51px;
    top: 20px;
    opacity: 1;
}

.clsCircle {
    position: absolute;
    -ms-transform: matrix(0, 0, 0, 0, 0, 0);
    -wbkit-transform: matrix(0, 0, 0, 0, 0, 0);
    transform: matrix(0, 0, 0, 0, 0, 0);
}

#idCircle01 {
    left: 40px;
    top: 90px;
    width: 288px;
    height: 288px;
    background: url("../../../pages/images/Topic01/T01P00/01.png") no-repeat;
    background-size: contain;
}

.clsPatch {
    position: absolute;
    width: 0px;
    height: 236px;
}

#idPatch1 {
    top: 155px;
    left: 225px;
    background-position: left;
    height: 167px;
    background: #FFFFFF;
    border-radius: 10px;
    display: none;
    color: #000000;
    /* -webkit-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.75);
     box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.75); */
    border-radius: 25px;
}

.clsText {
    position: absolute;
    font-size: 18px;
    font-family: OpenSansRegular;
    opacity: 0;
}

#idText1 {
    top: 28px;
    left: 170px;
    width: 585px;
    line-height: 1.5;
}

.clsBold {
    /* font-weight: bold; */
    font-family: OpenSansSemiBold;
    color:#F26C5B;
}

.clsIcon {
    position: absolute;
    background: url("../../../pages/images/Topic01/T01P00/Icon01.png");
    width: 65px;
    height: 65px;
    left: -62px;
    top: 46px;
    background-size: contain;
    display: none;
}

.clsNextText {
    position: absolute;
    font-size: 14px;
    font-family: OpenSansRegular;
    width: 493px;
    top: 57px;
    left: 3px;
    display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .custom-width {
        width: 450px !important;

    }

    .yellowBorder:after {
        content: "";
        position: absolute;
        width: 500px !important;

    }
}

.boxInst {
    position: absolute;
    top: 485px;
    left: 854px;
}